<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>25225191200-k4cv01arkj66gh2i999rjce30ulvqakr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25225191200-k4cv01arkj66gh2i999rjce30ulvqakr</string>
	<key>API_KEY</key>
	<string>AIzaSyC28flgDXm9wUh3FammKhgcJLFXZfE13ug</string>
	<key>GCM_SENDER_ID</key>
	<string>25225191200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.move4mobile.mobiledevicelab</string>
	<key>PROJECT_ID</key>
	<string>device-lab-df354</string>
	<key>STORAGE_BUCKET</key>
	<string>device-lab-df354.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:25225191200:ios:144b74425fdc40b6</string>
	<key>DATABASE_URL</key>
	<string>https://device-lab-df354.firebaseio.com</string>
</dict>
</plist>